@charset "utf-8";
/* CSS Document */

body {
	font-family: urw-din,sans-serif;
	font-weight: 700;
	font-style: normal;
}

nav {
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: auto;
	padding-top: 0px;
	padding-botoom: 3%;
	width: 93%;
	max-width: 960px;
	text-decoration: none;
}

