@charset "utf-8";
/* CSS Document */

body {
	font-family: urw-din,sans-serif;
	font-weight: 700;
	font-style: normal;
	padding-top: 3%;
	padding-left: 1%;
	padding-right: 1%;
	max-width: 95%;
	margin-right: auto;
	margin-left: auto; 
}

a.logo:focus {
	outline: none;
}

p {
	font-family: urw-din,sans-serif;
	font-weight: 100;
	font-size: 0.8em;
}

p.skills {
	font-weight: bolder;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

p.GraphicDesign {
	text-align: center;
	font-weight: 900;
	font-size: 2.2em;
	margin: 250px 0px 250px 0px;
}

img.face {
	width: 450px;
	height: auto;
	margin: 0px 0px 0px 100px;
}

img.hand {
	width: 200px;
	height: auto;
}

.hand {
	text-align: center;
	margin-top: 100px;
}

header {
	margin-bottom: 50px;
}

.logo {
	float: left;
}

nav {
	text-align: right;
	float: right;
	word-spacing: 2em;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: auto;
	padding-top: 0px;
	padding-botoom: 10%;
	max-width: 80%;
	padding-left: 6%;
	text-decoration: none;
}

nav a{
	transition: 0.3s;
}

nav a:hover{
	letter-spacing: 3px;
	transition: 0.5s;
}

.FUEL {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.clarendon {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}

.homespace {
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: center;
}

img.TheMetamorphosis {
	width: 80%;
	height: auto;
}

.BookDesign {
	text-align: center;
}

img.Typeface {
	width: 100%;
	height: auto;
}

.Mizuki_Gothic {
	text-align: center;
}

.overview {
	margin-right: 10%;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
	color: black;
}

a:focus{
	outline: none;
}

a:hover {
	color: #FF4E30;
}

footer {
	text-align: center;
	paddiing-top: 70px;
	padding-bottom: 70px;
}

h3 {
	transition: 0.5s;
}

h3:hover {
	padding-left: 30px;
}

h4 {
	text-align: center; 
	transition: 0.5s;
}

h4:hover {
	transform: scale(1.3);
}

h1 {
	font-size: 220%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

img.landing_img {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 50px;
}

.landing_img h2 {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-weight: 800;
}

.webdesign_hover{
	position: relative;
	text-align: center;
	margin-top: 50px;
	transition: 0.6s;
}

.webdesign_hover :hover{
	opacity: 0.9;
}

.webdesign_hover h2{
	position: absolute;
	color: white;
	top: 45%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

.webdesign_hover h2:hover{
	color: #FF4E30;
	padding-bottom: 30px;
}

.posterdesign_hover{
	position:relative;
	text-align: center;
	margin-top: 50px;
	transition: 0.3s;
}

.posterdesign_hover :hover{
	opacity: 0.9;
}

.posterdesign_hover h2{
	position: absolute;
	color: white;
	top: 45%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

.posterdesign_hover h2:hover{
	color: #FF4E30;
	padding-bottom: 30px;
}

.otherworks_hover{
	position:relative;
	text-align: center;
	margin-top: 50px;
	transition: 0.3s;
}

.otherworks_hover :hover{
	opacity: 0.9;
}

.otherworks_hover h2{
	position: absolute;
	color: white;
	top: 45%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}

.otherworks_hover h2:hover{
	color: #FF4E30;
	padding-bottom: 30px;
}



img.emailicon {
	width: 100px;
	height: auto;
	margin-top: 20px;
	margin-right: 20px;
	transition: 0.4s;
	float:none;
}

.emailaddress h3{
	float: left;
	font-size: 2em;
	transition: 0.5s;
	color: white;
}

.emailaddress h3:hover{
	color: white;
}

img.instagramicon {
	width: 100px;
	height: auto;
	margin-top: 20px;
	margin-right: 20px;
}

.instagram h3{
	float: left;
	font-size: 2em;
	transition: 0.5s;
	color: white;
}

.instagram h3:hover{
	color: white;
}


section.contact{
	max-width: 50%;
	margin-right: auto;
	margin-left: auto;
	outline: none;
	padding: 50px;
	transition: 0.5s;
	width: 0px;
	border-top-right-radius: 110px;
	border-top-left-radius: 110px;
	border-bottom-right-radius: 110px;
    border-bottom-left-radius: 110px;
}

section.contact:hover{
	background-color: #FF4E30;
	width: 550px;
	border-top-right-radius: 110px;
	border-top-left-radius: 110px;
	border-bottom-right-radius: 110px;
    border-bottom-left-radius: 110px;
}





